.default {
    display: flex;
    flex-direction: column;
}

.default > div {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.loginPage{
    background-image: url(../../assets/login.jpg);
    min-height: 100vh;
    width: auto;
    background-size: cover;
}